<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá <%= @user.name %>,</h1>
    <p>
      Alguém solicitou um link para alterar sua senha. Você pode fazer isso através do link abaixo.
    </p>
    <p>
      <%= link_to 'Alterar minha senha', edit_password_url(@user, reset_password_token: @token) %>
    </p>
    <p>
      Se você não solicitou isso, por favor ignore este email.
    </p>
    <p>
      Sua senha não será alterada até que você acesse o link acima e crie uma nova.
    </p>
  </body>
</html> 